[submodule "zigmath"]
	path = zigmath
	url = https://github.com/leroycep/zigmath.git
[submodule "zigimg"]
	path = zigimg
	url = https://github.com/mlarouche/zigimg.git
[submodule "zig-bare"]
	path = zig-bare
	url = https://github.com/desttinghim/zig-bare
